@import url("http://fonts.cdnfonts.com/css/jurassic-park");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "montserrat", sans-serif;
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  background-image: url(imgs/EventBackground.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-color: #464646;
  transition: ease all 0.5s;
}

header .content {
  margin-top: 2%;
  position: relative;
  z-index: 1;
}

header .content h1 {
  /* transform: scale(2); */
  /* the bug */
  -webkit-text-stroke: 0.1px rgb(128, 43, 40);
  -webkit-text-fill-color: rgb(232, 225, 24);
  -webkit-animation: fill 0.5s infinite alternate;
}

@keyframes fill {
  from {
    -webkit-text-fill-color: rgb(232, 225, 24);
  }
  to {
    -webkit-text-fill-color: rgb(144, 130, 112);
  }
}

header .content h1 {
  font-size: 8vw;
  /* font-family: "Jurassic Park", sans-serif; */
}

header .content h2 {
  color: rgb(255, 247, 0);
  font-size: 6vw;
  -webkit-text-stroke: 0.1rem #960000;
  text-shadow: 0rem 1rem 4rem #23430c;
  -webkit-animation: fill 0.5s infinite alternate;
}

header .content h2 span {
  /* font-family: "Jurassic Park", sans-serif; */
  -webkit-text-stroke: 0.1px rgb(128, 43, 40);
  -webkit-text-fill-color: rgb(232, 225, 24);
  transform: scale(1);
  font-weight: 900;
  margin: 30px 0px;
  -webkit-animation: fill 0.5s infinite alternate;
}

header .content .countdown {
  background-color: #303030;
  color: rgb(223, 255, 81);
  -webkit-text-stroke: 3px rgb(0, 255, 157);
  -webkit-text-fill-color: rgba(96, 255, 81, 0.734);
  font-size: 2rem;
  font-weight: 400;
}

.links {
  color: #193b59;
  font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 767px) {
  header {
    background-image: url(imgs/EventBackgroundMobilePhone.jpg);
  }
  header .content h2 {
    -webkit-text-stroke: 0.1rem #960000;
  }
}
/* ========Start Nav Buttons======== */
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.container {
  max-width: 65rem;
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  position: relative;
}
.logo-container,
.nav__logo {
  flex: 1;
  display: flex;
  align-items: center;
  width: 150px;
  height: 100%;
  justify-content: space-between;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 5px;
  line-height: 3rem;
}

.nav-btn {
  flex: 3;
  display: flex;
}
.nav-links {
  flex: 2;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #0b1c60;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.nav-links > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  position: relative;
}

.nav-link > a {
  line-height: 3rem;
  color: #fff;
  padding: 0 0.8rem;
  letter-spacing: 1px;
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
}

.nav-link > a > i {
  margin-left: 0.2rem;
}

.nav-link:hover > a {
  transform: scale(1.1);
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown {
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: auto;
}

.hamburger-menu-container {
  flex: 1;
  display: none;
  align-items: center;
  justify-content: flex-end;
}

.hamburger-menu {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hamburger-menu div {
  width: 1.6rem;
  height: 3px;
  border-radius: 3px;
  background-color: #fff;
  position: relative;
  z-index: 1001;
  transition: 0.5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #fff;
  border-radius: 3px;
  transition: 0.5s;
}

.hamburger-menu div:before {
  transform: translateY(-7px);
}

.hamburger-menu div:after {
  transform: translateY(7px);
}

#check {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  width: 2.5rem;
  height: 2.5rem;
  z-index: 90000;
  cursor: pointer;
  opacity: 0;
  display: none;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div {
  background-color: transparent;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:before {
  transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:after {
  transform: translateY(0) rotate(45deg);
}

@keyframes animation {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 920px) {
  .hamburger-menu-container {
    display: flex;
  }

  #check {
    display: block;
  }

  .nav-btn {
    position: fixed;
    height: calc(100vh - 3rem);
    top: 3rem;
    left: 0;
    width: 100%;
    background-color: #386379;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateX(100%);
    transition: 0.65s;
    z-index: 100;
  }

  #check:checked ~ .nav-btn {
    transform: translateX(0);
  }

  #check:checked ~ .nav-btn .nav-link,
  #check:checked ~ .nav-btn {
    animation: animation 0.5s ease forwards var(--i);
  }

  .nav-links {
    flex: initial;
    width: 100%;
  }

  .nav-links > ul {
    flex-direction: column;
  }

  .nav-link {
    width: 100%;
    opacity: 0;
    transform: translateY(15px);
  }

  .nav-link > a {
    line-height: 1;
    padding: 1.6rem 2rem;
  }

  .nav-link:hover > a {
    transform: scale(1);
    background-color: #50a9d6;
  }
  .nav-link:hover > .dropdown,
  .dropdown-link:hover > .dropdown {
    display: block;
  }

  .nav-link:hover {
    display: block;
  }

  .nav-link:hover {
    background-color: #50a9d6;
  }

  .nav-link > a > i {
    font-size: 1.1rem;
    transform: rotate(-90deg);
    transition: 0.7s;
  }
}

/* ========End Nav Buttons======== */

/* ============DINOSAUR======================== */

.dino {
  width: 16em;
  height: 20em;
  margin: 0 auto;
  position: relative;
  -webkit-animation: walk-bounce-animation 1.5s infinite;
  animation: walk-bounce-animation 1.5s infinite;
  transition: ease all 0.5s;
}

.dino__head {
  height: 47%;
  margin-left: 33.333%;
  width: 66.666%;
  position: relative;
}

.dino__head__back {
  background-color: #00a652;
  border: 0.25em solid #000;
  border-width: 0.35em 0 0 0.25em;
  border-top-left-radius: 100% 47%;
  height: 100%;
  width: 50%;
}

.dino__head__topfront {
  background-color: #00a652;
  border: 0.25em solid #000;
  border-top-right-radius: 100%;
  border-width: 0.35em 0.35em 0 0;
  display: block;
  height: 50%;
  left: 50%;
  position: absolute;
  top: 0;
  width: 50%;
}

.dino__head__mouth {
  background-color: #00a652;
  border: 0.25em solid #000;
  border-bottom-right-radius: 100%;
  border-width: 0 0.35em 0.25em 0;
  display: block;
  height: 30%;
  left: 70%;
  position: absolute;
  top: 50%;
  width: 30%;
}

.dino__head__throat {
  background-color: #00a652;
  height: calc(30% + 0.7em);
  left: 40%;
  position: absolute;
  top: 50%;
  width: 30%;
}

.dino__head__throat:after {
  background-color: #115592;
  border: 0.35em solid #000;
  border-top-left-radius: 100%;
  border-width: 0.25em 0 0 0.25em;
  content: " ";
  display: block;
  height: 40%;
  left: 0;
  position: absolute;
  top: 80%;
  width: 100%;
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.dino__head__eye {
  background-color: #000;
  border-radius: 50% 50% 46% 54% / 50% 45% 55% 50%;
  display: block;
  height: 1em;
  left: 65%;
  position: absolute;
  top: 27%;
  width: 1em;
  -webkit-animation: blink-animation 3s infinite;
  animation: blink-animation 3s infinite;
}

.dino__body {
  position: relative;
  height: 33.333%;
  width: 100%;
}

.dino__body__mid {
  background-color: #00a652;
  display: block;
  height: 100%;
  left: 13%;
  position: absolute;
  width: 50%;
}

.dino__body__mid:before {
  background-color: #115592;
  border: 0.35em solid #000;
  border-bottom-right-radius: 100% 100%;
  border-width: 0 0.25em 0.35em 0;
  content: " ";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: -10%;
  width: 40%;
}

.dino__body__mid:after {
  background-color: #00a652;
  border: 0.35em solid #000;
  border-bottom-right-radius: 100% 50%;
  border-width: 0 0.25em 0.35em 0;
  content: " ";
  display: block;
  height: 100%;
  left: 80%;
  position: absolute;
  top: 20%;
  width: 30%;
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

.dino__arm {
  background-color: #00a652;
  border: 0.35em solid #000;
  border-top-right-radius: 30% 50%;
  border-bottom-right-radius: 50% 70%;
  border-width: 0.25em 0.25em 0.25em 0;
  content: " ";
  position: absolute;
  display: block;
  height: 30%;
  left: 55%;
  bottom: 80%;
  width: 30%;
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-animation: arm-sway-animation 15s infinite;
  animation: arm-sway-animation 15s infinite;
}

.dino__bottom {
  background-color: #00a652;
  border: 0.35em solid #000;
  border-bottom-right-radius: 100%;
  border-width: 0 0.35em 0.35em 0;
  content: " ";
  position: relative;
  display: block;
  height: 22%;
  left: 3%;
  bottom: 4.3%;
  width: 54%;
  -webkit-transform: rotate(-20deg) scaleX(-1);
  -ms-transform: rotate(-20deg) scaleX(-1);
  transform: rotate(-20deg) scaleX(-1);
}

.dino__tail {
  background-color: #00a652;
  border: 0.35em solid #000;
  border-top-right-radius: 200%;
  border-top-left-radius: 200%;
  border-width: 0.35em 0.25em 0 0.25em;
  content: " ";
  position: absolute;
  display: block;
  height: 12.5%;
  left: 0;
  bottom: 12%;
  width: 14%;
  -webkit-transform: rotate(-80deg);
  -ms-transform: rotate(-80deg);
  transform: rotate(-80deg);
}

.dino__back-leg {
  background-color: #00a652;
  border: 0.35em solid #000;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-width: 0 0.25em 0.25em 0.25em;
  content: " ";
  position: absolute;
  display: block;
  height: 7%;
  left: 48%;
  bottom: 4%;
  width: 12%;
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
  -webkit-animation: back-leg-animation 3s infinite;
  animation: back-leg-animation 3s infinite;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.dino__front-leg {
  background-color: #00a652;
  border: 0.35em solid #000;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-width: 0 0.25em 0.25em 0.25em;
  content: " ";
  position: absolute;
  display: block;
  height: 8%;
  left: 41%;
  bottom: 3%;
  width: 14%;
  -webkit-transform: rotate(-12deg);
  -ms-transform: rotate(-12deg);
  transform: rotate(-12deg);
  -webkit-animation: front-leg-animation 3s infinite;
  animation: front-leg-animation 3s infinite;
}

.floor {
  background-color: #303030;
  border-radius: 100%;
  display: block;
  height: 2em;
  position: relative;
  margin: 0 auto;
  width: 15em;
  top: -1.5em;
  left: -1em;
  opacity: 0.25;
  z-index: -1;
  -webkit-animation: shadow-animation 1.5s infinite;
  animation: shadow-animation 1.5s infinite;
}

@-webkit-keyframes blink-animation {
  0% {
    margin-top: 0;
    height: 1em;
  }
  1% {
    margin-top: 0.35em;
    height: 0.3em;
  }
  2% {
    margin-top: 0.45em;
    height: 0.1em;
  }
  4% {
    margin-top: 0.35em;
    height: 0.3em;
  }
  6% {
    margin-top: 0;
    height: 1em;
  }
}

@keyframes blink-animation {
  0% {
    margin-top: 0;
    height: 1em;
  }
  1% {
    margin-top: 0.35em;
    height: 0.3em;
  }
  2% {
    margin-top: 0.45em;
    height: 0.1em;
  }
  4% {
    margin-top: 0.35em;
    height: 0.3em;
  }
  6% {
    margin-top: 0;
    height: 1em;
  }
}

@-webkit-keyframes arm-sway-animation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
  }
  40% {
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
  }
  60% {
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
  }
  80% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
}

@keyframes arm-sway-animation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
  }
  40% {
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
  }
  60% {
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
  }
  80% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
}

@-webkit-keyframes front-leg-animation {
  0% {
    left: 41%;
    bottom: 3%;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  15% {
    left: 37%;
    bottom: 1%;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  20% {
    left: 35%;
    bottom: 2%;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  40% {
    left: 38%;
    bottom: 3%;
  }
}

@keyframes front-leg-animation {
  0% {
    left: 41%;
    bottom: 3%;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  15% {
    left: 37%;
    bottom: 1%;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  20% {
    left: 35%;
    bottom: 2%;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  40% {
    left: 38%;
    bottom: 3%;
  }
}

@-webkit-keyframes back-leg-animation {
  0% {
    left: 48%;
    bottom: 4%;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  15% {
    left: 40%;
    bottom: 2%;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  20% {
    left: 35%;
    bottom: 2%;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  40% {
    left: 38%;
    bottom: 3%;
  }
}

@keyframes back-leg-animation {
  0% {
    left: 48%;
    bottom: 4%;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  15% {
    left: 40%;
    bottom: 2%;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  20% {
    left: 35%;
    bottom: 2%;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  40% {
    left: 38%;
    bottom: 3%;
  }
}

@-webkit-keyframes walk-bounce-animation {
  0%,
  100% {
    -webkit-transform: translateY(0.25em);
    transform: translateY(0.25em);
  }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes walk-bounce-animation {
  0%,
  100% {
    -webkit-transform: translateY(0.25em);
    transform: translateY(0.25em);
  }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes shadow-animation {
  0%,
  100% {
    width: 15em;
  }
  50% {
    width: 15.25em;
  }
}

@keyframes shadow-animation {
  0%,
  100% {
    width: 15em;
  }
  50% {
    width: 15.25em;
  }
}

/* ============Register Button================ */

.RegisterButton {
  margin-top: 20px;
  box-shadow: 0px 10px 14px -7px #1a1003;
  background: linear-gradient(to bottom, #e03a3a 5%, #9c6f14 100%);
  background-color: #a33401;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #0e2241;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #cc7f21;
}

.RegisterButton:hover {
  background: linear-gradient(to bottom, #9c6f14 5%, #d5e03a 100%);
  background-color: #9c6f14;
  color: white;
}

.RegisterButton:active {
  position: relative;
  top: 1px;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  .dino {
    width: 8em;
    height: 12em;
    margin: 0 auto;
    position: relative;
    -webkit-animation: walk-bounce-animation 1.5s infinite;
    animation: walk-bounce-animation 1.5s infinite;
    transition: ease all 0.5s;
  }
  .dino__head__eye {
    background-color: #000;
    border-radius: 50% 50% 46% 54% / 50% 45% 55% 50%;
    display: block;
    height: 1em;
    left: 65%;
    position: absolute;
    top: 27%;
    width: 1em;
    -webkit-animation: blink-animation 3s infinite;
    animation: blink-animation 3s infinite;
    transform: scale(0.4);
  }
  .dino__body__mid {
    background-color: #00a652;
    display: block;
    height: 101%;
    left: 13.5%;
    position: absolute;
    width: 48%;
  }
  .floor {
    background-color: #303030;
    border-radius: 100%;
    display: block;
    height: 2em;
    position: relative;
    margin: 0 auto;
    width: 15em;
    top: -1.3em;
    left: -1em;
    opacity: 0.25;
    z-index: -1;
    -webkit-animation: shadow-animation 1.5s infinite;
    animation: shadow-animation 1.5s infinite;
    transform: scale(0.6);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
  .dino {
    width: 8em;
    height: 12em;
    margin: 0 auto;
    position: relative;
    -webkit-animation: walk-bounce-animation 1.5s infinite;
    animation: walk-bounce-animation 1.5s infinite;
    transition: ease all 0.5s;
  }
  .dino__head__eye {
    background-color: #000;
    border-radius: 50% 50% 46% 54% / 50% 45% 55% 50%;
    display: block;
    height: 1em;
    left: 65%;
    position: absolute;
    top: 27%;
    width: 1em;
    -webkit-animation: blink-animation 3s infinite;
    animation: blink-animation 3s infinite;
    transform: scale(0.4);
  }
  .dino__body__mid {
    background-color: #00a652;
    display: block;
    height: 101%;
    left: 13.5%;
    position: absolute;
    width: 48%;
  }
  .floor {
    background-color: #303030;
    border-radius: 100%;
    display: block;
    height: 2em;
    position: relative;
    margin: 0 auto;
    width: 15em;
    top: -1.3em;
    left: -1em;
    opacity: 0.25;
    z-index: -1;
    -webkit-animation: shadow-animation 1.5s infinite;
    animation: shadow-animation 1.5s infinite;
    transform: scale(0.6);
  }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  .dino {
    width: 9em;
    height: 13em;
    margin: 0 auto;
    position: relative;
    -webkit-animation: walk-bounce-animation 1.5s infinite;
    animation: walk-bounce-animation 1.5s infinite;
    transition: ease all 0.5s;
  }
  .dino__head__eye {
    background-color: #000;
    border-radius: 50% 50% 46% 54% / 50% 45% 55% 50%;
    display: block;
    height: 1em;
    left: 65%;
    position: absolute;
    top: 27%;
    width: 1em;
    -webkit-animation: blink-animation 3s infinite;
    animation: blink-animation 3s infinite;
    transform: scale(0.5);
  }
  .dino__body__mid {
    background-color: #00a652;
    display: block;
    height: 101%;
    left: 13.5%;
    position: absolute;
    width: 48%;
  }
  .floor {
    background-color: #303030;
    border-radius: 100%;
    display: block;
    height: 2em;
    position: relative;
    margin: 0 auto;
    width: 15em;
    top: -1.3em;
    left: -1em;
    opacity: 0.25;
    z-index: -1;
    -webkit-animation: shadow-animation 1.5s infinite;
    animation: shadow-animation 1.5s infinite;
    transform: scale(0.6);
  }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
  .dino {
    width: 10em;
    height: 14em;
    margin: 0 auto;
    position: relative;
    -webkit-animation: walk-bounce-animation 1.5s infinite;
    animation: walk-bounce-animation 1.5s infinite;
    transition: ease all 0.5s;
  }
  .dino__head__eye {
    background-color: #000;
    border-radius: 50% 50% 46% 54% / 50% 45% 55% 50%;
    display: block;
    height: 1em;
    left: 65%;
    position: absolute;
    top: 27%;
    width: 1em;
    -webkit-animation: blink-animation 3s infinite;
    animation: blink-animation 3s infinite;
    transform: scale(0.5);
  }
  .dino__body__mid {
    background-color: #00a652;
    display: block;
    height: 101%;
    left: 13.5%;
    position: absolute;
    width: 48%;
  }
  .floor {
    background-color: #303030;
    border-radius: 100%;
    display: block;
    height: 2em;
    position: relative;
    margin: 0 auto;
    width: 15em;
    top: -1.3em;
    left: -1em;
    opacity: 0.25;
    z-index: -1;
    -webkit-animation: shadow-animation 1.5s infinite;
    animation: shadow-animation 1.5s infinite;
    transform: scale(0.7);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
  .dino {
    width: 11em;
    height: 15em;
    margin: 0 auto;
    position: relative;
    -webkit-animation: walk-bounce-animation 1.5s infinite;
    animation: walk-bounce-animation 1.5s infinite;
    transition: ease all 0.5s;
  }
  .dino__head__eye {
    background-color: #000;
    border-radius: 50% 50% 46% 54% / 50% 45% 55% 50%;
    display: block;
    height: 1em;
    left: 65%;
    position: absolute;
    top: 27%;
    width: 1em;
    -webkit-animation: blink-animation 3s infinite;
    animation: blink-animation 3s infinite;
  }
  .dino__body__mid {
    background-color: #00a652;
    display: block;
    height: 102%;
    left: 13.5%;
    position: absolute;
    width: 48%;
  }
  .floor {
    background-color: #303030;
    border-radius: 100%;
    display: block;
    height: 2em;
    position: relative;
    margin: 0 auto;
    width: 15em;
    top: -1.3em;
    left: -1em;
    opacity: 0.25;
    z-index: -1;
    -webkit-animation: shadow-animation 1.5s infinite;
    animation: shadow-animation 1.5s infinite;
    transform: scale(0.7);
  }
}

/*Accordion (FAQ)*/
.accordion-body {
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 40px;
  background: #0e2241;
}
.accordion-title {
  font-size: 35px;
  font-weight: 600;
  color: #7d2ae8;
  font-family: "Fira Sans", sans-serif;
  text-align: center;
  margin-bottom: 35px;
}
p.accordion {
  background-color: #7d2ae8;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-bottom: 10px;
}
p.accordion.active,
p.accordion:hover {
  background-color: #583c7e;
}
p.accordion:after {
  content: "\2795";
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}
p.accordion.active:after {
  content: "\2796";
}
div.panel {
  padding: 0 18px;
  background-color: #7d2ae8;
  max-height: 0;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  opacity: 0;
  margin-bottom: 10px;
  color: #fff;
}
div.panel.show {
  opacity: 1;
  max-height: 500px;
}
.repo-link {
  color: rgba(14, 217, 231, 0.952) !important;
}
/*End of Accordion (FAQ)*/

/* Cards (Challenges) */

.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #002b2a;
  color: #ffffff;
  line-height: 1.3;
  padding: 2.5rem;
}

.cards-container__title {
  color: #579392;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 2.1875rem;
}

.cards__content {
  display: flex;
  flex-direction: column;
  max-width: 32.5rem;
  background-color: #176664;
  border-radius: 0.5rem;
  overflow: hidden;
}

.cards div:nth-child(2) {
  margin-top: 2.5rem;
}

.cards__content__image img {
  display: block;
  max-width: 100%;
  height: auto;
}

.cards__content__title {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1.125rem 1.125rem 0;
}

.cards__content div:nth-child(2) {
  margin-top: 0;
}

.cards__content__description {
  opacity: 0.8;
  padding: 1.125rem;
}

.cards__content__button {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  border-radius: 0.5rem;
  text-align: center;
  margin: 1.125rem;
}

.cards__content__button a {
  display: inline-block;
  width: 100%;
  color: #176664;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.75em;
}

.cards__content__button:hover {
  background-color: #176664;
}

.cards__content__button a:hover {
  color: #ffffff;
}

@media only screen and (min-width: 37.5em) and (max-width: 61.9375em) {
  .cards-container {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

@media only screen and (min-width: 62em) {
  .cards {
    display: flex;
    column-gap: 2rem;
  }

  .cards__content {
    width: 50%;
    max-width: 37.5rem;
  }

  .cards div:nth-child(2) {
    margin-top: unset;
  }

  .cards__content__description {
    flex: 1;
  }
}
/* End of Cards (Challenges) */

/* Start of Github Student dev pack */
.studpack-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffff;
  color: #ffffff;
  line-height: 1.3;
  padding: 2.5rem;
}

.gitpack {
  position: relative;
  display: block;
}
.studpack-detail {
  color: #000000;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 2.1875rem;
}

/* End of Github Student dev pack */

/**/
footer {
  background: #111;
  height: auto;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #fff;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.about {
  text-align: center;
}
.about img {
  width: 50px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;
}
.socials a i {
  size: 1.1rem;
}
.socials a:hover i {
  color: aqua;
}

.copyright {
  border: 10px;
  background: #176664;
  text-align: center;
}
/*End*/
